{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Our Company</h1>
        <p class="text-center">We have been in the business for 20+ years.</p>
    </div>
{% endblock %}
