{% extends 'base.html.twig' %}

{% block title %}Furnitures{% endblock %}

{% block content %}
    <div class="our_furniture_section layout_padding">
        <div class="container">
            <h1 class="about_taital">Our <span style="background-color: #fee421; color: #fff; padding: 0px 5px;">Furnitures</span></h1>
            <p class="market_text">Browse our collection of high-quality furniture.</p>
        </div>
    </div>
{% endblock %}
