{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="banner_section layout_padding">
        <div class="container-fluid">
            <h1 class="text-center">Welcome to Woods</h1>
            <p class="text-center">Your best place for furniture and interior designs.</p>
        </div>
    </div>
{% endblock %}
